body{
	margin: 0;
}

h1 {
    font-family: "Saira";
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
}

a{
	font-family: "Saira";
}


.header {
  top: 0px;
  background-image: url("images/topBanner.jpg");
  background-position: center;
  opacity: 0.8;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  vertical-align: bottom;
  box-sizing: border-box;
}

.header #header-text {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 120px;
    width: 60%;
    color: black;
    background: white;
    opacity: 0.8;
    min-width: 400px;
}

.header #header-text p{
	font-family: "Saira";
	font-size: 20px;
}

#navigation {
	opacity: .8;
	bottom: 0px;
    display: inline-block;
    padding: 5;
    min-width: 10px;
    width: 100%;
    z-index: 10;
    text-align: center;
    position: fixed;
    background-color: #f2f2f2;
}

#navigation ul{
margin: 0;
padding: 0;
}

#navigation ul li{
	padding-left: 2;
	padding-right: 2;
	list-style: none;
	display: inline;
}

.connect {

}

#connect img {
	height: 50px;
	width:  50px;
	margin: 10px;
}

#connect img:hover {
	transform: translate(0, -5px);
}